.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.banner {
    height:350px;
    // background-color: black;
    background-position: center;
    position: relative;
    h1 {
        text-align: center;
    }
}

.image-cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    .womens {
        position: relative;
        padding: 10px;
        img {
            width: 350px;
            height: 400px;
            border: 1px solid black;
        }
    }

    .mens {
        position: relative;
        padding: 10px;
        img {
            width: 350px;
            height: 400px;
            border: 1px solid black;
        }
    }
}

.womens-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.mens-overlay {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}


.womens:hover .overlay {
    opacity: 1;
}

.mens:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
