#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    padding: 10px;
    h5 {
        flex: 3;
        font-size: 20px;
    }

    .social-media {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
    }
}
