#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    display: flex;
    padding: 5px;
    justify-content: space-between;

    #copyright {
      h5 {
        font-size: 15px;
      }
    }

    #contact {
      a {
        color: gray;
        font-size: 15px;
      }
    }
    #social-media {
        display: flex;
        justify-content: space-evenly;
        font-size: 15px;
        width: 100px;
    }
}
