<div id="footer">
  <div id="copyright">
    <h5><%=fa_icon "copyright" %> NaomeAndNohemy</h5>
  </div>

  <div id="contact">
    <h5><a href="">Contact Us</a></h5>
  </div>
  
  <ul id="social-media">
      <li><%=fa_icon "instagram"%></li>
      <li><%=fa_icon "facebook"%></li>
      <li><%=fa_icon "twitter"%></li>
  </ul>
</div>