<div id="footer">
    <h5><%=fa_icon "copyright" %> NaomeAndNohemy</h5>
    <h5><a href="">Contact Us</a></h5>
    <ul class="social-media">
        <li><%=fa_icon "instagram"%></li>
        <li><%=fa_icon "facebook"%></li>
        <li><%=fa_icon "twitter"%>   </li>
    </ul>
</div>