<div class="home">
    
    <div class='banner'>
        <img src="/assets/banner.png" alt="">
    </div>


    <div class="image-cards">
        <div class="mens">
            <img src="https://mms-images-prod.imgix.net/mms/images/catalog/2291e5112d311e309ef5ca6f4fbd834e/styles/339800/supporting/1.jpg?ixlib=rails-2.1.4&w=425&h=495&fit=fill&bg=ffffff&dpr=1&q=39&fm=pjpg&auto=compress&trim=auto&trimmd=0" alt="">
            <div class="overlay">
                <div class="text">
                    Shop Mens
                </div>
            </div>
        </div>

        <div class="womens">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71on5ePoUwL._UX679_.jpg" alt="">
            <div class="overlay">
                <div class="text">
                    Shop Women's
                </div>
            </div>
        </div>

       
    </div>

</div>