// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

div .cart-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  // justify-content: center;
}

.cart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;

  li {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    padding: 20px;
  }
  #item-image {
    display: flex;
    flex: 1;
    justify-content: center;
    img {
      margin-right: 5px;
      height: 90px; 
      width: 10%;
    }
  }

  #item-description {
    flex: 1.5;
    padding: 15px;
    justify-content: column;
    align-self: center;
    h5 & span {
      font-family: 'Roboto', sans-serif;
    }
  }
  
  #item-logic {
    display: flex;
    padding: 5px;
    flex: .5;
    align-self: center;
    justify-content: space-evenly;
    li {
      padding: 5px;
      margin: 5px;
    }
  }
}


div .subtotal {
  display: flex;
  padding: 15px;
  flex-direction: column;
  border: 1px solid blue;
  a {
    width: 205px;
  }
  .subtotal-buttons{
    padding: 5px;
    display: flex;
    flex-direction: row;
  }
}
