// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div .cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid red;
  flex: 3;
  li {
    border: 1px solid red;
    flex: 0.5 0 22%;
  }
  #item-description {
    display: flex;
    flex: 1;
    padding: 15px;
    img {
      height: 100px;
      width: 20%;
    }
  }
  
  #item-logic {
    display: flex;
    padding: 5px;
    flex: 1;
    justify-content: space-evenly;
    li {
      padding: 5px;
      margin: 5px;
    }
  }
}


div .subtotal {
  display: flex;
  padding: 15px;
  flex-direction: column;
  border: 1px solid blue;
}
