// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#order_zip_code {
  width: 100px;
}

#order_city {
  width: 150px;
}

.stripe-checkout {
  margin: 10px;
}

#new_order {
  margin: 10px;
  padding: 5px;
}

.new-order {
  display: flex;
  flex-direction: column;
}