// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:500&display=swap');

.product-container {
    overflow-x: scroll;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    padding: 15px;

    .products {
        overflow: hidden;
        justify-content: space-evenly;
        display: flex;
        border: 1px solid black;
        border-radius: 10px;
        flex: 1 0 26%;
        margin: 5px;
        height: 30%;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        transition: all 0.3s;
        &:hover {
          box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        }
    }

} 

.index-product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;

  h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
}

.index-product-button {
  display: flex;
  justify-content: center;
  padding: 5px;
}

////////////////////////////////////////////////////////////////////////////
// This for a single product

.show_product {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  height: 40%;
  width: 50%;
  position: relative;
  // background: gray;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
}

.product-nav {
  padding: 5px;
  width: 100%;
  background: white;
  a {
    font-family: 'Lato', 'sans-serif';
    color: black;
  }
}

.product-description {
  display: flex;  
  justify-content: space-between;
  // background: yellow;
}

#photo {
  flex: 1;
  img {
    height: 100%;
    width: 100%;
    padding: 20px;
  }
}

.product-card {
  display: flex;
  padding: 10px;
  flex-direction: column;
  flex: 3;
  justify-content: space-evenly;
  // background: red;
  h1 {
    font-size: 55px;
    font-family: 'Lato', 'sans-serif';
  }

  span & h3{
    font-size: 35px;
    font-family: 'Lato', 'sans-serif';
  }

  p {
    font-size: 15px;
    font-family: 'Lato', 'sans-serif';
  }

  .button_to {
    bottom: 0;
  }
}

.product-forms {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



////////////////////////////////////MEDIA QUERIES///////////////////////////////
@media only screen and (max-device-width: 480px) {

  div .product-container {
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
    overflow: scroll;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    .products {
      justify-content: space-evenly;
      height: 50%;
      display: flex;
      li {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      // flex: 1;
      // justify-content: center;
      flex-direction: row;
      .index-product-image {
        flex: 2;
        img {
          height: 150px; 
        }
      }

      .index-product-info {
        flex: 1;
        flex-direction: column;
      }

      .index-product-button {
        align-self: flex-end;
        flex: .5;
        justify-content: flex;
      }
    }
  }

  
  div .show_product {
    position: relative;
    margin: auto;
    width: 90%;
    height: 80%;
    justify-content: center;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    .product-description {
      flex-direction: column;
    }

    .product-forms {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    #photo {
      flex: .5;
      justify-content: center;
      img {
        height: 85%;
        width: 65%;
      }
    }
  }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {
  .show_product {
    width: 90%;
  }
}